@model IEnumerable<GD.Models.Товар>

@{
    ViewBag.Title = string.Format("Товары | {0}", GD.Constants.TITLE);
}

<h2>Товары</h2>
@if (Request.IsAuthenticated && (User.IsInRole(GD.Constants.ROLE_ADMIN) || User.IsInRole(GD.Constants.ROLE_CONTENT_MANAGER)))
{
    <p>@Html.ActionLink("Создать", "Create")</p>
}

<table><tr><td>Наименование</td><td>Цена</td><td>Изображение</td></tr>
    @foreach (var item in Model)
    {   <tr><td><p>@Html.ActionLink(item.Название, "Details", new { id = item.id_товара })</p></td>
        <td><p> @item.Цена_товара</p></td><td>@item.Изображение</td>   
<<<<<<< HEAD
       
=======
        <td style="padding-left:30px;">@Html.ActionLink("Вверх", "Up", new { id = item.id_товара })</td>
        <td style="padding-left:30px;">@Html.ActionLink("Вниз", "Down", new { id = item.id_товара })</td>
>>>>>>> c7e45a48a6cf0f4860bd4cf8d431898ccfac393c
    </tr>
}
</table>


